* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway';
  margin: 0;
  min-height: 100vh;
}

header {
  align-items: center;
  background-color: #e1eaed;
  display: flex;
  flex-direction: column;
  height: auto;
}

.heading {
  color: #ffffff;
  font-weight: 800;
  font-size: 50px;
}

.vanilla {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #003b45;
}

.ideabox {
  color: #003b45;
}

.searchterm {
  border: 1px solid #003b45;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 20px;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
  outline: none;
  padding: 10px;
  width: 75%;
}

.search-button {
  background-color: #003b45;
  border: 1px solid #003b45;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  padding: 5px;
  position: absolute;
  width: 30px;
}

.make-ideas-section {
  display: flex;
  flex-direction: column;
}

.title,
.body {
  flex: 2;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.form-article {
  background-color: #65a2aa;
  display: flex;
  justify-content: space-around;
}

.title-text,
.body-text {
  color: #fff;
  font-size: 24px;
}

.title-input,
.body-input {
  border: none;
  border-radius: 3px;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

.save-button {
  background-color: #003b45;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.wrap {
    width: 25%;
}

.disabled {
  background-color: #65a2aa;
  cursor: not-allowed;
  opacity: 0.6;
}

.no-ideas-placeholder {
    color: #003b45;
    font-size: 48px;
    margin: auto;
}

.ideas-container {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    min-height: 20vh;
}

.idea-card {
    background-color: #e1eaed;
    height: 300px;
    width: 300px;
    display: flex;
    flex-flow: column;
}

.idea-card-header {
  background-color: #66A3AB;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.idea-card-title,
.idea-card-paragraph {
    margin: 20px;
}

.hidden {
    display: none;
  }
